In [1]:
# Importing libraries
import numpy as np
import pandas as pd

In [2]:
# Loading dataset
Data=pd.read_csv("C:\\Users\\Shabu\\Desktop\\Height.Weight,Age.csv")
Data.head()

   index   Height  Weight  Age
0       1     159      65   45
1       2     156      64   89
2       3     151      60   20
3       4     165      75   55
4       5     139      50   61

In [3]:
# Shape of the dataset
Data.shape

(20, 4)

## 2) MinMax Scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler
MMS = MinMaxScaler()
ScaledData=MMS.fit_transform(Data)
ScaledData

array([[0.        , 0.76923077, 0.6       , 0.35211268],
       [0.05263158, 0.65384615, 0.56      , 0.97183099],
       [0.10526316, 0.46153846, 0.4       , 0.        ],
       [0.15789474, 1.        , 1.        , 0.49295775],
       [0.21052632, 0.        , 0.        , 0.57746479],
       [0.26315789, 0.23076923, 0.2       , 0.46478873],
       [0.31578947, 0.84615385, 0.8       , 1.        ],
       [0.36842105, 0.34615385, 0.16      , 0.3943662 ],
       [0.42105263, 0.76923077, 0.48      , 0.36619718],
       [0.47368421, 0.69230769, 0.52      , 0.98591549],
       [0.52631579, 0.61538462, 0.56      , 0.91549296],
       [0.57894737, 0.23076923, 0.32      , 0.50704225],
       [0.63157895, 0.03846154, 0.04      , 0.5915493 ],
       [0.68421053, 0.42307692, 0.36      , 0.53521127],
       [0.73684211, 0.80769231, 0.4       , 0.4084507 ],
       [0.78947368, 0.38461538, 0.32      , 0.43661972],
       [0.84210526, 0.76923077, 0.52      , 0.52112676],
       [0.89473684, 0.88461538, 0.48      , 0.46478873],
       [0.94736842, 0.73076923, 0.56      , 0.83098592],
       [1.        , 0.26923077, 0.28      , 0.4084507 ]])