In [1]:
# Importing libraries
import numpy as np
import pandas as pd

In [2]:
# Reading the data
Data=pd.read_csv("C:\\Users\\Shabu\\Desktop\\Students.csv")

In [3]:
# Printing first five rows
Data.head()

     Name Gender  Marks  Grades        City
0    Sara      F      98      S    Banglore
1   Jacob      M      87      A     Chennai
2    Ruth      F      65      C     Madurai
3  Esther      F      79      B  Coimbatore
4  Joseph      M      56      D        Pune

In [8]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder()

In [9]:
Data['Gender'] = OHE.fit_transform(Data.City.values.reshape(-1, 1)).toarray()
Data['Gender'].unique()

array([0., 1.])

In [10]:
Data['Gender'].head()

0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Gender, dtype: float64

In [11]:
NewData=pd.concat([Data,Data['Gender']],axis='columns')
NewData

       Name  Gender  Marks  Grades  City  Gender
0      Sara     0.0      98      S   1.0     0.0
1     Jacob     1.0      87      A   0.0     1.0
2      Ruth     1.0      65      C   0.0     1.0
3    Esther     1.0      79      B   0.0     1.0
4    Joseph     1.0      56      D   0.0     1.0
5     David     1.0      91      S   0.0     1.0
6   Solomon     0.0      83      A   1.0     0.0
7      Ezra     1.0      64      C   0.0     1.0
8      Mary     1.0      78      B   0.0     1.0
9    Martha     1.0      59      D   0.0     1.0
10   Daniel     1.0      95      S   0.0     1.0
11   Mathew     1.0      81      A   0.0     1.0
12     John     0.0      69      C   1.0     0.0